<?xml version="1.0" encoding="utf-8"?>
<note desc="none">
        <timestamp>2024-07-23T22:45:30</timestamp>
        <author>brilliant</author>
        <title>learn xml</title>
        <!-- body -->
        <content>
            <greeting>hello</greeting>
            <greeting>world</greeting>
        </content>
</note>
